<div class="footer">
    <div class="footer-header">
        <i class="fa-brands fa-playstation"></i>
        <div class="region">
            <i class="fa-solid fa-earth-americas"></i>
            <span>País/região: Brasil</span>
        </div>
    </div>
    <div class="links">
        <div class="side-a">
            <ul class="about-us">
                <li><a href="">Suporte</a></li>
                <li><a href="">Política de privacidade</a></li>
                <li><a href="">Termos de uso do site</a></li>
                <li><a href="">Mapa do site</a></li>
                <li><a href="">Playstation Studios</a></li>
                <li><a href="">Legal</a></li>
                <li><a href="">Sobre a SIE</a></li>
            </ul>
        </div>
        <div class="side-b">
            <ul class="terms">
                <li><a href="">Termos de serviço da PSN</a></li>
                <li><a href="">Política de cancelamento da PS Store</a></li>
                <li><a href="">Avisos de saúde</a></li>
                <li><a href="">Sobre as classificações</a></li>
            </ul>
        </div>
        <div class="side-c">
            <ul class="social-media">
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Youtube</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Aplicativo para Android</a></li>
                <li><a href="">Aplicativo para iOS</a></li>
            </ul>
        </div>
    </div>
    <div class="all-rights">
        <p>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</p>
    </div>
</div>
