<app-header></app-header>
<div class="cards">
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/0113/38ad0cc5b92af440d46ccebf5d1f271213d656684fce3385.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Avatar: Frontiers of Pandora™"
    gamePrice="R$329,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2409/759228d1e3274b6d9632272f5aa7c4dfa19a9a51652e2e5b.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Cities: Skylines II"
    gamePrice="R$249,50"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/1c7b75d8ed9271516546560d219ad0b22ee0a263b4537bd8.png?w=440&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Marvel’s Spider-Man 2"
    gamePrice="R$349,50"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2420/c3daf3037feb797d9e71b81618e3b5ff3ff1f9609db5a4a2.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Alan Wake 2"
    gamePrice="R$270,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/phwiQjbJddEg979YucUoP3Vr.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Assassin's Creed® Mirage"
    gamePrice="R$239,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202307/0710/7f2cb30474b1264f2ab7339d7d82005610a5349920cddc75.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Edição Ultimate do EA SPORTS FC™ 24"
    gamePrice="R$528,90"></app-cards>

            <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Mortal Kombat 1"
    gamePrice="R$299,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/2721/fd4a95baf99ef56ab94d1fa2758351e9f2634af647195002.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Edição Black Mamba do NBA 2K24"
    gamePrice="R$499,50"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2406/9f8788e95c9970fa770a4067a4a5c480b98d90644945e907.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus="PRE-ORDER"
    gameName="Tower of Fantasy"
    gamePrice="R$59,50"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/cdn/UP4016/CUSA11253_00/ZB7o35lDBOMRJ5ErVtx9OUJP88jSmC2R.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="Dead Cells"
    gamePrice="R$124,50"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202304/1016/47becbe467e18575f71429abbaec9af707865744b825f34d.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus=""
    gameName="STAR WARS Jedi: Survivor™"
    gamePrice="R$338,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202210/0706/EVWyZD63pahuh95eKloFaJuC.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="Resident Evil 4"
    gamePrice="R$259,50"></app-cards>

        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/phvVT0qZfcRms5qDAk0SI3CM.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="ELDEN RING"
    gamePrice="R$299,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="God of War Ragnarök"
    gamePrice="R$349,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202206/0720/eEczyEMDd2BLa3dtkGJVE9Id.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus=""
    gameName="The Last of Us™ Parte I"
    gamePrice="R$349,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202211/0714/S1jCzktWD7XJSRkz4kNYNVM0.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="The Witcher 3: Wild Hunt – Complete Edition"
    gamePrice="R$207,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202111/3013/cKZ4tKNFj9C00giTzYtH8PF1.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="Cyberpunk 2077"
    gamePrice="R$249,50"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202101/2921/fWiBmwK5WnQa5XG3K4aWeMpt.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus=""
    gameName="Ratchet & Clank: Em Uma Outra Dimensão"
    gamePrice="R$349,90"></app-cards>

        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/ki0STHGAkIF06Q4AU8Ow4OkV.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="Horizon Forbidden West™"
    gamePrice="R$349,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202301/2100/ksGvOUolBKzauHyiPalnLUKN.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus=""
    gameName="MLB® The Show™ 23"
    gamePrice="R$349,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202106/1704/JzL1NLQvok7Pghe9W5PP2XNV.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="Demon Slayer -Kimetsu no Yaiba- The Hinokami Chronicles"
    gamePrice="R$299,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202206/0300/E2vZwVaDJbhLZpJo7Q10IyYo.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="Stray"
    gamePrice="R$149,90"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202111/2000/PV9y7Xq2mcDcx2PtpM8GYYO0.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4=""
    gameStatus=""
    gameName="UNCHARTED: Coleção Legado dos Ladrões"
    gamePrice="R$249,50"></app-cards>
        <!-- Divisor -->
    <app-cards
    gameCover="https://image.api.playstation.com/vulcan/img/rnd/202111/2000/nPfqr4Qn0WiCLWV7rvxV3z0O.png?w=230&thumb=false"
    gameLabelP5="PS5"
    gameLabelP4="PS4"
    gameStatus=""
    gameName="Call of Duty®: Black Ops Cold War - Pacote Multi-geração"
    gamePrice="R$319,90"></app-cards>
</div>